<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%- include('partials/header', { pages }) %>
    <h1>Message List</h1>
    <ul>
        <% messages.forEach(message => { %>
            <li><strong><%= message.user %>:</strong> <%= message.text %> <em>(<%= message.added.toLocaleString() %>)</em></li>
        <% }) %>
    </ul>
    <%- include('partials/footer', { pages }) %>
</body>
</html>