<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header', { pages }) %>
    <h1>Message List</h1>
    <ul>
        <% messages.forEach(message => { %>
            <li><strong><%= message.username %>:</strong> <%= message.msg %> <em>(<%= message.created_at.toLocaleString() %>)</em> <button onclick="deleteItem('<%= message.id %>')">x</button> </li>
        <% }) %>
    </ul>
    <%- include('partials/footer', { pages }) %>

    <script>
        async function deleteItem(id){
            if(!confirm("Delete this message?")) return;

            const response = await fetch(`/delete/${id}`, {
                method:'DELETE',
            });

            if(response.ok){
                alert('Deleted');
                location.reload();
            }
        }
    </script>
</body>
</html>